flows.json
[{"id":"8eb19ebe.060e1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9eff9ae8.25b418","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cca6ed4a.9accc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"db150ec4.1467b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"68b0dd78.af3e34","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1aa1a8","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#1aa1a8","edited":true},"page-titlebar-backgroundColor":{"value":"#1aa1a8","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#30d6df","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#1aa1a8","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"81fac557.667ff8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a36bee7c.0e376","type":"ui_group","z":"","name":"Smart Agriculture","tab":"81fac557.667ff8","order":1,"disp":true,"width":"6","collapse":false},{"id":"94c0b198.8bac3","type":"ui_group","z":"","name":"Motor Switch","tab":"81fac557.667ff8","order":4,"disp":true,"width":"6","collapse":false},{"id":"98510ff3.07fd9","type":"ui_group","z":"","name":"hidden_group","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"e77a9931.a31848","type":"ui_tab","z":"","name":"Weather Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"4bff72b8.f53e6c","type":"ui_group","z":"","name":"Weather","tab":"e77a9931.a31848","order":2,"disp":true,"width":"6","collapse":false},{"id":"df1b1180.d3446","type":"ui_group","z":"","name":"3 hours Forecast","tab":"e77a9931.a31848","order":3,"disp":true,"width":6,"collapse":false},{"id":"c5b74da4.120e3","type":"ui_group","z":"","name":"6-hours Forecast","tab":"e77a9931.a31848","order":4,"disp":true,"width":"6","collapse":false},{"id":"7becfb49.349524","type":"ui_group","z":"","name":"Notifications","tab":"","order":2,"disp":true,"width":"9","collapse":true},{"id":"11d73329.4a41fd","type":"telegram bot","z":"","botname":"Smart Agriculture","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"95a6786e.45ae08","type":"gcm-configuration","z":"","name":"","apiKey":""},{"id":"d2d84bea.be3968","type":"ui_group","z":"","name":"Region","tab":"e77a9931.a31848","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a8890d3.82b7","type":"ui_group","z":"","name":"hidden_group","tab":"d1c118f2.aa2948","order":1,"disp":false,"width":"6","collapse":false},{"id":"d1c118f2.aa2948","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"75ac692e.f60498","type":"ibmiot in","z":"8eb19ebe.060e1","authentication":"apiKey","apiKey":"db150ec4.1467b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Device01","applicationId":"","deviceType":"IOTsample","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":370,"y":340,"wires":[["d784aaeb.ac0468","8919e808.d5ef18","f776cab6.08ee68"]]},{"id":"2e1562f2.be302e","type":"ui_gauge","z":"8eb19ebe.060e1","name":"","group":"a36bee7c.0e376","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":260,"wires":[]},{"id":"9db59e10.913f7","type":"ui_gauge","z":"8eb19ebe.060e1","name":"","group":"a36bee7c.0e376","order":2,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b31b00","#e60086","#cb3a43"],"seg1":"","seg2":"","x":1090,"y":340,"wires":[]},{"id":"b857273c.f27608","type":"ui_gauge","z":"8eb19ebe.060e1","name":"","group":"a36bee7c.0e376","order":3,"width":"0","height":"0","gtype":"gage","title":"Soil Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b0b3","#2e046c","#983acb"],"seg1":"","seg2":"","x":1120,"y":440,"wires":[]},{"id":"8e07b063.2b91e","type":"ibmiot out","z":"8eb19ebe.060e1","authentication":"apiKey","apiKey":"db150ec4.1467b","outputType":"cmd","deviceId":"SmartDevice","deviceType":"IOTsample","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":620,"wires":[]},{"id":"7b13228d.13654c","type":"ui_button","z":"8eb19ebe.060e1","name":"","group":"94c0b198.8bac3","order":1,"width":0,"height":0,"passthru":true,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" :\"Motor On\"}","payloadType":"json","topic":"","x":650,"y":560,"wires":[["8e07b063.2b91e","6626d2a7.f4be8c","2f35a550.87f64a","bfbb6d85.8b458"]]},{"id":"58f60261.44c01c","type":"ui_button","z":"8eb19ebe.060e1","name":"","group":"94c0b198.8bac3","order":2,"width":0,"height":0,"passthru":true,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" :\"Motor Off\"}","payloadType":"json","topic":"","x":640,"y":680,"wires":[["8e07b063.2b91e","6626d2a7.f4be8c","cfbdecf4.8e7d5","bfbb6d85.8b458"]]},{"id":"3ddbdb03.ea35e4","type":"inject","z":"9eff9ae8.25b418","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":440,"wires":[["1ef9731e.f55b2d","2f05c344.35925c","dfde2316.dead7"]]},{"id":"1ef9731e.f55b2d","type":"http request","z":"9eff9ae8.25b418","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Jaipur, IN&appid=84347088c567ab436c7bcc1123b9a659","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":300,"wires":[["14cca3b8.b74bbc","6f4ee53f.d6946c","d8655897.671f88","d8549b14.1f7548","93bbc116.f021d","8bd36691.9fa148","ff8014ca.60a908","cf1c7ab6.af2ab8","cfa5e2b4.69c9c"]]},{"id":"14cca3b8.b74bbc","type":"change","z":"9eff9ae8.25b418","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.main.temp-273.15)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[["176bc3b8.598c2c"]]},{"id":"d8655897.671f88","type":"change","z":"9eff9ae8.25b418","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":400,"wires":[["51ae16c5.3334c8"]]},{"id":"6f4ee53f.d6946c","type":"change","z":"9eff9ae8.25b418","name":"Weather cond.","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload.weather[0].main) & \" - \" & $string(msg.payload.weather[0].description)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["5b38b567.8b793c"]]},{"id":"d8549b14.1f7548","type":"function","z":"9eff9ae8.25b418","name":"Humidity %","func":"msg.payload = msg.payload.main.humidity + \"%\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["bfc50d09.2148c"]]},{"id":"176bc3b8.598c2c","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":1130,"y":160,"wires":[],"info":"msg.payload = "},{"id":"93bbc116.f021d","type":"change","z":"9eff9ae8.25b418","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":440,"wires":[["7df3e09d.1f228"]]},{"id":"bfc50d09.2148c","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} ","layout":"row-spread","x":1130,"y":240,"wires":[]},{"id":"5b38b567.8b793c","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":3,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"51ae16c5.3334c8","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":4,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":1120,"y":400,"wires":[]},{"id":"7df3e09d.1f228","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":5,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1130,"y":440,"wires":[]},{"id":"2f05c344.35925c","type":"openweathermap","z":"9eff9ae8.25b418","name":"","wtype":"forecast","lon":"","lat":"","city":"Jaipur","country":"India","language":"en","x":530,"y":720,"wires":[["e8b99155.281ae","a6074e03.7960d","c78f6122.7ec08","b167efef.2a47c","1896463c.5187da","96754f37.9e5eb","f4a3f0b7.35ece"]]},{"id":"e8b99155.281ae","type":"change","z":"9eff9ae8.25b418","name":"Forecast after 3 hours","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload[2].weather[0].main) & \" - \" & $string(msg.payload[2].weather[0].description)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":580,"wires":[["bbfc4d0.98cfeb"]]},{"id":"a6074e03.7960d","type":"change","z":"9eff9ae8.25b418","name":"Forecast after 6 hours","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload[3].weather[0].main) & \" - \" & $string(msg.payload[3].weather[0].description)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":720,"wires":[["75fe8db9.87c534"]]},{"id":"c78f6122.7ec08","type":"change","z":"9eff9ae8.25b418","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.2.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":620,"wires":[["311ca690.9fac3a"]]},{"id":"bbfc4d0.98cfeb","type":"ui_text","z":"9eff9ae8.25b418","group":"df1b1180.d3446","order":1,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}} ","layout":"row-spread","x":1120,"y":580,"wires":[]},{"id":"311ca690.9fac3a","type":"ui_text","z":"9eff9ae8.25b418","group":"df1b1180.d3446","order":2,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1170,"y":620,"wires":[]},{"id":"b167efef.2a47c","type":"change","z":"9eff9ae8.25b418","name":"Wind Speed (6 hr)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.3.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":760,"wires":[["c2273455.f91838"]]},{"id":"75fe8db9.87c534","type":"ui_text","z":"9eff9ae8.25b418","group":"c5b74da4.120e3","order":1,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}} ","layout":"row-spread","x":1100,"y":720,"wires":[]},{"id":"c2273455.f91838","type":"ui_text","z":"9eff9ae8.25b418","group":"c5b74da4.120e3","order":2,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1130,"y":760,"wires":[]},{"id":"8bd36691.9fa148","type":"debug","z":"9eff9ae8.25b418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":280,"wires":[]},{"id":"ff8014ca.60a908","type":"change","z":"9eff9ae8.25b418","name":"City","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload.name)& \" , \" & $string(msg.payload.sys.country)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":120,"wires":[["e024148b.f5e908"]]},{"id":"e024148b.f5e908","type":"ui_text","z":"9eff9ae8.25b418","group":"d2d84bea.be3968","order":1,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":100,"wires":[]},{"id":"9f513248.521e5","type":"ui_text","z":"9eff9ae8.25b418","group":"d2d84bea.be3968","order":2,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":60,"wires":[]},{"id":"cf1c7ab6.af2ab8","type":"change","z":"9eff9ae8.25b418","name":"Position","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(msg.payload.coord.lon)& \" , \" & $string(msg.payload.coord.lat)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[["9f513248.521e5"]]},{"id":"1f0e63e0.b1d00c","type":"ui_text","z":"9eff9ae8.25b418","group":"4bff72b8.f53e6c","order":5,"width":0,"height":0,"name":"","label":"Wind Direction","format":"{{msg.payload}}°","layout":"row-spread","x":1120,"y":480,"wires":[]},{"id":"cfa5e2b4.69c9c","type":"change","z":"9eff9ae8.25b418","name":"Wind Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.deg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["1f0e63e0.b1d00c"]]},{"id":"96754f37.9e5eb","type":"change","z":"9eff9ae8.25b418","name":"Wind Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.2.wind.deg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":660,"wires":[["c3abb823.5988e8"]]},{"id":"f4a3f0b7.35ece","type":"change","z":"9eff9ae8.25b418","name":"Wind Direction","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.3.wind.deg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":820,"wires":[["eaef2cdf.7cc2"]]},{"id":"1896463c.5187da","type":"debug","z":"9eff9ae8.25b418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":820,"wires":[]},{"id":"eaef2cdf.7cc2","type":"ui_text","z":"9eff9ae8.25b418","group":"c5b74da4.120e3","order":2,"width":0,"height":0,"name":"","label":"Wind Direction","format":"{{msg.payload}}°","layout":"row-spread","x":1110,"y":820,"wires":[]},{"id":"c3abb823.5988e8","type":"ui_text","z":"9eff9ae8.25b418","group":"df1b1180.d3446","order":2,"width":0,"height":0,"name":"","label":"Wind Direction","format":"{{msg.payload}}°","layout":"row-spread","x":1150,"y":680,"wires":[]},{"id":"dfde2316.dead7","type":"ui_toast","z":"9eff9ae8.25b418","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Best suitable pressure range for farming is 500 hPa to 1250 hPa","name":"Pressure","x":280,"y":200,"wires":[]},{"id":"4bb0c022.a71a6","type":"ui_template","z":"8eb19ebe.060e1","group":"8a8890d3.82b7","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":1140,"y":100,"wires":[[]]},{"id":"6626d2a7.f4be8c","type":"debug","z":"8eb19ebe.060e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":620,"wires":[]},{"id":"d784aaeb.ac0468","type":"change","z":"8eb19ebe.060e1","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["2e1562f2.be302e"]]},{"id":"8919e808.d5ef18","type":"change","z":"8eb19ebe.060e1","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":340,"wires":[["9db59e10.913f7"]]},{"id":"f776cab6.08ee68","type":"change","z":"8eb19ebe.060e1","name":"objectTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["b857273c.f27608"]]},{"id":"7e0f0f97.568ae","type":"openweathermap","z":"cca6ed4a.9accc","name":"","wtype":"current","lon":"","lat":"","city":"Jaipur","country":"India","language":"en","x":390,"y":220,"wires":[["be06165f.ad4278","e2482358.73a24","5c93c7.1f705c38"]]},{"id":"b82773a7.d9079","type":"inject","z":"cca6ed4a.9accc","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["7e0f0f97.568ae"]]},{"id":"be06165f.ad4278","type":"rbe","z":"cca6ed4a.9accc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":610,"y":220,"wires":[["7ff8fa28.cce254"]]},{"id":"7ff8fa28.cce254","type":"switch","z":"cca6ed4a.9accc","name":"check Pressure","property":"payload.pressure","propertyType":"msg","rules":[{"t":"gte","v":"1250","vt":"num"},{"t":"lte","v":"450","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":220,"wires":[["62fe4867.179988"],[]]},{"id":"62fe4867.179988","type":"function","z":"cca6ed4a.9accc","name":"build email","func":" msg = {\n    payload : \" Dear farmer, \\nAir pressure is too high \" + msg.payload.pressure  + \" hPa \" + \" at \" + Date().toString() + \". Attention Required\",\n    topic : \"Air Pressure Emergency!\",\n    //to : \"sachinsachin10katiyar@gmail.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":220,"wires":[["e94150ea.e631e","d702d531.651a78"]]},{"id":"e94150ea.e631e","type":"e-mail","z":"cca6ed4a.9accc","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"17ucs135@lnmiit.ac.in","dname":"","x":1180,"y":220,"wires":[]},{"id":"d702d531.651a78","type":"debug","z":"cca6ed4a.9accc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":280,"wires":[]},{"id":"e2482358.73a24","type":"rbe","z":"cca6ed4a.9accc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":360,"wires":[["463b56f7.de8518"]]},{"id":"463b56f7.de8518","type":"switch","z":"cca6ed4a.9accc","name":"check weather","property":"$string(msg.payload.weather) & \" - \" & $string(msg.payload.detail)","propertyType":"jsonata","rules":[{"t":"eq","v":"Rain - light rain","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":360,"wires":[["62b7b98e.268458"]]},{"id":"62b7b98e.268458","type":"function","z":"cca6ed4a.9accc","name":"build email","func":" msg = {\n    payload : \"Dear farmer, \\n\" + \"Weather condition here, is cloudy at \" + Date().toString() + \". Required attention towards motor.\",\n    topic : \"Weather Emergency!\",\n    //to : \"sachinsachin10katiyar@gmail.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["b8943d38.78ebf","8aef92a2.0e06c"]]},{"id":"b8943d38.78ebf","type":"e-mail","z":"cca6ed4a.9accc","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"17ucs135@lnmiit.ac.in","dname":"","x":1160,"y":360,"wires":[]},{"id":"8aef92a2.0e06c","type":"debug","z":"cca6ed4a.9accc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":420,"wires":[]},{"id":"2f35a550.87f64a","type":"ui_toast","z":"8eb19ebe.060e1","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor Status : On","name":"Motor on","x":920,"y":520,"wires":[]},{"id":"cfbdecf4.8e7d5","type":"ui_toast","z":"8eb19ebe.060e1","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor Status : Off","name":"Motor off","x":909,"y":722,"wires":[]},{"id":"bfbb6d85.8b458","type":"ui_text","z":"8eb19ebe.060e1","group":"94c0b198.8bac3","order":2,"width":0,"height":0,"name":"","label":"Motor Status","format":"{{msg.payload.command}}","layout":"row-spread","x":1210,"y":620,"wires":[]},{"id":"5c93c7.1f705c38","type":"debug","z":"cca6ed4a.9accc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":140,"wires":[]}]